
element.style {
}
@media only screen and (max-width: 420px)
.languagebar, .logo {
    text-align: center !important;
}
.languagebar {
    background: #4b9dd3;
    font-size: 13px;
    padding: 10px 0px;
    border-bottom: 1px solid #4492c5;
    text-align: right;
}
/*Responsif*/
@media only screen and (max-width: 719px)
.languagebar {
    margin-top: 0px !important;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*flaxbox*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    background: #f3f3f3;
    font-size: 13.5px;
    color: #333;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}